<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = 1050, user-scalable = no" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->

    <link href="css/basic.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/demo.css" media="screen">
    <link rel="stylesheet" href="css/demo-print.css" media="print">
    <script type="text/javascript" src="js/jquery.min.1.7.js"></script>
    <script type="text/javascript" src="js/modernizr.2.5.3.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body style="color:black;" ng-controller="myCtrl">

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="index.html">
                            Homepage
                        </a>
                    </li>
                    <li>
                        <a href="introduction.html">Introduction</a>
                    </li>
                    <li>
                        <a href="education.html">Education</a>
                    </li>
                    <li>
                        <a href="experience.html">Repositories</a>
                    </li>
                    <li>
                        <a href="projects.html">Projects</a>
                    </li>
                    <li>
                        <a href="resume.html">Resume</a>
                    </li>
                    <li>
                        <a href="hobbies.html">Hobbies</a>
                    </li>
                    <li>
                        <a href="gitTracker.html">Git Tracker</a>
                    </li>
                    <li>
                        <a href="contactInfo.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3" >
                           <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a><br/><br/>
                           <h3>Projects</h3>
                           <br>
                           <div style="overflow-y: scroll; height:600px;">
                               <a ng-click="project(1)">Project 1</a><hr/>
                               <a ng-click="project(2)">Project 2</a><hr/>
                               <a ng-click="project(3)">Project 3</a><hr/>
                               <a ng-click="project(4)">Project 4</a><hr/>
                               <a ng-click="project(3)">Project 3</a><hr/>
                               <a ng-click="project(4)">Project 4</a><hr/>
                               <a ng-click="project(3)">Project 3</a><hr/>
                               <a ng-click="project(4)">Project 4</a><hr/>
                               <a ng-click="project(3)">Project 3</a><hr/>
                               <a ng-click="project(4)">Project 4</a><hr/>
                               <a ng-click="project(3)">Project 3</a><hr/>
                               <a ng-click="project(4)">Project 4</a><hr/>
                               <a ng-click="project(4)">Project 4</a><hr/>
                               <a ng-click="project(3)">Project 3</a><hr/>
                               <a ng-click="project(4)">Project 4</a><hr/>
                           </div>
                       </div>


                       <div class="col-lg-6" id="rw1">
                        <div class="flipbook">
                            <div style="background-image:url(pages/1.jpg)" id="one"></div>
                            <div style="background-image:url(pages/2.jpg)" id="two"></div>
                            <div style="background-image:url(pages/3.jpg)" id="three"></div>
                            <div style="background-image:url(pages/4.jpg)" id="four"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->

    <script src="js/turn.min.js"></script>
    <script src="assets/js/projects.js"></script>
    <script type="text/javascript">

    function loadApp() {

    // Create the flipbook

    $('.flipbook').turn({
            // Width

            width:600,
            
            // Height

            height:450,

            // Elevation

            elevation: 100,
            
            // Enable gradients

            gradients: false,
            
            // Auto center this flipbook

            autoCenter: false

        });
}

// Load the HTML4 version if there's not CSS transform

yepnope({
    test : Modernizr.csstransforms,
    yep: ['js/turn.js'],
    nope: ['js/turn.html4.min.js'],
    both: ['css/basic.css'],
    complete: loadApp
});

</script>
<script src="js/bootstrap.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/projects-angular.js"></script>


<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>

</body>

</html>
